$red: #ea6060;
$green: #36af36;
$blue : #1473E6;

// rwd
$screen-xs: 480px;  // xsmall
$screen-sm: 768px;  // small
$screen-md: 992px;  // medium
$screen-lg: 1366px; // large

$large-h2: 30px;
$large-h3: 20px;
$large-h4: 16px;